body{
      background-color:#e1fafa ;
 } 

 hr{
     width: 5%;
     border-style: dotted none none;
     border-color: gray;
     border-width: 5px;
 }  

 h1 {
     color:
      #66BFBF;
 }
 h3{
     color:
      #66BFBF;
 }
 
